.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  display: flex;
  position: relative;
  left: 1150px;
  padding: 10px;
  margin-bottom: 70px;
}

.card-items {
  display: flex;
  flex-wrap: wrap;
}
.card-item {
  position: relative;
	text-align: center;
  max-width: 340px;
  padding: 15px;
  margin: 30px;
  background: #D9D9D9;
}

.card__item-img {
  height: auto;
  max-width: 100%;
  margin-bottom: 23px;
}
