.section-card {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  align-items: center;
}

.modal {
  max-width: 540px;
  background: white;
}

.close-modal {
  margin-left: 515px;
}

.product-item {
  display: flex;
  justify-content: space-between;
  background: #D9D9D9;
  margin-top: 25px;
}

.product-info {
  display: flex;
  justify-content: space-between;
}
.product-deleted {
  position: relative;
  top: 50px;
  left: -65px;
  height: 20px;
  width: 20px;
  align-items: center;
  color: white;
  background: #645151;
  border: 1px solid transparent;
}

.product-text {
  margin-right: 145px;
  margin-left: 15px;
  min-width: 180px;
}

.product-count {
  display: flex;
  justify-content: space-between;
}

.count {
  width: 20px;
  height: 20px;
  color: #FFFFFF;
  background: #AAAAAA;
  border: 1px solid transparent;
  height: 20px;
  text-align: center;
}

.count-box {
  position: relative;
  top: 50px;
  right: 80px;
  display: flex;
  height: 20px;
}

.footer {
  margin-top: 230px;
  margin-right: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product-buy {
  margin-left: 50px;
}

img {
  margin: 10px;
}